{% extends 'parent.html' %}
{% block title %}
Add - Book 
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
        {{form}}
    <input value="add" class=" btn btn-success" id="add" type="submit">
</form>
<div class="" style="color: red;">
    {{msg}}
</div>
<!-- <form method="post" class="form-control">
    <div class="mb-3" enctype="multipar/form-data">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Tarek Is life">
    </div>
    <div class="mb-3">
        <label for="vergion" class="form-label">Vergion</label>
        <input class="form-control" id="vergion" type="number" placeholder="2">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input class="form-control btn btn-info" id="image" type="file" >
      </div>
      <div class="mb-3">
        <select class="form-control ">
            <option>Author 1 </option>
            <option value="">Author 2</option>
        </select>
      </div>
      <div class="mb-3">
        <button  width="500px" class=" btn btn-success" id="add" type="submit">Add</button>
      </div>
</form> -->
{% endblock  %}