{% extends 'parent.html' %}
<!-- {% load static %}
    <link rel="stylesheet" href="{% static 'day1/css/style.css' %}"> -->
{% block title %}
Book - List 
{% endblock %}

{% block content %}
Book - List - content
<table border="1" width="100%">
    <tr>
        <td>ID</td>
        <td>TITLE </td>
        <td>VERSION</td>
        <td>Images</td>
        <td>Actions</td>
    </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.version}}</td>
            <td>{{book.image}}</td>
            <td>
                <!-- <a href="../view.html/{{ book.id }}">Details</a> -->
                <a class="btn btn-info" href="{% url 'book_view' book.id %}">Details</a>
                <a class="btn btn-primary" href="{% url 'book_update' book.title %}">Update</a>
                <a class="btn btn-danger" href="{% url 'book_delete' book.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
        {% endblock  %}
    
    
    