{% extends 'parent.html' %}
<!-- {% load static %}
    <link rel="stylesheet" href="{% static 'day1/css/style.css' %}"> -->
{% block title %}
Book - Details
{% endblock %}

{% block content %}
{{book.id}}
{{book.title}}
{{book.version}}
{% endblock  %}
<!-- <table border="1" width="100%">
    <tr>
        <td>ID</td>
        <td>TITLE </td>
        <td>VERSION</td>
        <td>Actions</td>
    </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.version}}</td>
            <td>
                <a href="">Details</a>
                <a href="">Update</a>
                <a href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table> -->
    
    
    
    